<form>
	<mat-card>
		<mat-card-title>
			<h1>Uusi tehtävä</h1>
		</mat-card-title>
		<mat-card-content>
			<mat-form-field>
				<mat-label>Tehtävän nimi</mat-label>
				<input
						matInput
						name="taskTitle"
						[(ngModel)]="taskTitle">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button
					mat-button
					(click)="addTask.next(taskTitle)"
					type="button">
				<mat-icon>add</mat-icon>
				Lisää tehtävä
			</button>
		</mat-card-actions>
	</mat-card>
</form>

<mat-card>
	<mat-card-title>
		<h1>Tehtävälista</h1>
	</mat-card-title>
	<mat-card-content>
		<app-task-list [taskAddListener]="addTask" />
	</mat-card-content>
</mat-card>
